<!-- layout root container -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <!-- Header section containing logo -->
    <header class="mdl-layout__header mdl-color-text--white mdl-color--teal-700">
        <div class="mdl-layout-icon"></div>

        <div class="mdl-layout__header-row">
            <h3><i class="material-icons chat-icon">chat_bubble_outline</i> Live Chat</h3>
            <div class="mdl-layout-spacer"></div>

            <form class="mdl-layout--large-screen-only">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="new-room-name" ng-model="$ctrl.roomName" lists="rooms">
                    <datalist id="rooms">
                        <option ng-repeat="room in $ctrl.rooms">{{room}}</option>
                    </datalist>
                    <label class="mdl-textfield__label" for="new-room-name">Join a Room...</label>
                </div>
                <button type="submit" ng-click="$ctrl.joinRoom($ctrl.roomName)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                Join
                </button>
            </form>
            <!-- <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="#">Nav link 1</a>
                <a class="mdl-navigation__link" href="#">Nav link 2</a>
                <a class="mdl-navigation__link" href="#">Nav link 3</a>
            </nav> -->
        </div>
        <div class="mdl-layout__header-row mdl-layout--small-screen-only" >
            <form class="">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="new-room-name" ng-model="$ctrl.roomName" lists="rooms">
                    <datalist id="rooms">
                        <option ng-repeat="room in $ctrl.rooms">{{room}}</option>
                    </datalist>
                    <label class="mdl-textfield__label" for="new-room-name">Join a Room...</label>
                </div>
                <button type="submit" ng-click="$ctrl.joinRoom($ctrl.roomName)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                Join
                </button>
            </form>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a ng-repeat="room in $ctrl.rooms" ng-click="$ctrl.activeRoom = room" target="_self" prevent-default
            href="#{{room}}" ng-class="['mdl-layout__tab', {'is-active': $ctrl.activeRoom == room}]">
            {{room}}<span ng-show="$ctrl.unreadCount[room] > 0" class="mdl-badge" data-badge="{{$ctrl.unreadCount[room]}}"></span></a>
        </div>
    </header>

    <!-- left menu for small device -->
    <div class="mdl-layout__drawer">
        <span class="mdl-layout__title">{{$ctrl.publicRooms.length}} Rooms</span>
        <nav class="mdl-navigation">
            <ul class="mdl-list">
                <li class="mdl-list__item" ng-repeat="room in $ctrl.publicRooms" >
                    <span class="mdl-list__item-primary-content">
                    <i style="color:rgb(75, 75, 75);" class="material-icons mdl-list__item-icon mdl-badge mdl-badge--overlap" 
                    data-badge="{{room.clients.length}}">group</i>
                    <span>{{room.name}}</span>
                    </span>
                    <button ng-show="$ctrl.rooms.indexOf(room.name)==-1" type="button" class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent drawer-close" 
                    ng-click="$ctrl.joinRoom(room.name)" title="Join the room"><i class="material-icons" >add</i></button>
                </li>
            </ul>
        </nav>
    </div>
    
    <!-- main container -->
    <main class="mdl-layout__content mdl-color--grey-100">
        <chat ng-class="['page-content', 'mdl-layout__tab-panel', {'is-active': $ctrl.activeRoom == room}]" active="$ctrl.activeRoom == room" 
        ng-repeat="room in $ctrl.rooms" id="{{room}}"
        room-name="room" leave-room="$ctrl.leaveRoom" public-rooms="$ctrl.publicRooms" join-room="$ctrl.joinRoom" set-unread-count="$ctrl.setUnreadCount"></chat>


        <div class="mdl-grid" ng-hide="$ctrl.rooms.length">
            <div class="welcome-card mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--3-offset-desktop mdl-cell--1-offset-tablet mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Welcome to Live Chat</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    Join a room to get started
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="$ctrl.joinRoom('global')">
                    Join Global
                    </a>
                </div>
            </div>
        </div>
    </main>
    
</div>